* {
  font-family: sans-serif;
  box-sizing: border-box;
  --light-sky-color: skyblue;
  --cloudy-color: silver;
  --night-color: hsl(240, 55%, 13%);
}

h1 {
  text-align: center;
}

input {
  margin: auto 10px;
}

.weather {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  gap: 5px;
  margin-top: 20px;
}

.day-name {
  font-weight: bold;
}

.day {
  flex: 0 1 120px;
  padding: 5px;
}

.nice-border {
  border: solid 1px grey;
  border-radius: 5px;
}

.weather-icon {
  font-size: 3rem;
}

.sunny {
  background-color: var(--light-sky-color);
}

.cloudy {
  background-color: var(--rainy-color);
}

.night {
  background-color: var(--night-color);
}

