* {
  font-family: sans-serif;
  box-sizing: border-box;
  --cloudy-color: silver;
  --night-color: hsl(240, 55%, 25%);
}

body {
  background-image: linear-gradient(skyblue, var(--night-color));
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}

h1 {
  text-align: center;
}

input {
  margin: auto 10px;
}

.weather {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  gap: 5px;
  margin-top: 20px;
}

.day-name {
  font-weight: bold;
}

.day {
  flex: 1 1 120px;
  padding: 5px;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  background-color: rgb(255 255 255 / 20%);
}

.day:hover{
  background-color: rgb(255 255 255 / 40%);
}

.hidden {
  display: none;
}

.day-left-section {
  grid-area: 1 / 1 / 4 / 1;
}

.nice-border {
  border: solid 1px grey;
  border-radius: 5px;
}

.weather-icon {
  font-size: 3rem;
}

.sunny {
  background-color: var(--light-sky-color);
}

.cloudy {
  background-color: var(--rainy-color);
}

.night {
  background-color: var(--night-color);
}

